.tbox {
    width: 600px;
    border: 8px solid transparent;
    border-radius: 24px;
    line-height: 35px;
    display: block;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    background: #363840;
    color:  #faf9f9;
    text-align: left;
    overflow: hidden;
    padding-inline-start: 15px;
}

.logo-img {
    width:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-google {
    margin-top: 255px;
}

body {
    background:#22242a;
}

.btn-src {
    font-family: "Google Sans", sans-serif;
    margin: 5px;
    width: auto;
    font-weight: 900;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 45px;
    background: #30323a;
    border-radius: 5px;
    color: #FAF9F6
}

.btn {
    display: flex;
    justify-content: center;
}